#about_container {
    font-family: 'open_sanslight';

    .text {
        padding: 80px 200px 30px 200px;
        position: relative;
    }

    .about_box {
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 30px 40px;
        background-color: #f7f7f7;
        width: 895px;
    }

    h1 {
        font-family: 'open_sanslight';
        font-size: 34pt;
        font-weight: normal;
    }

    h2 {
        font-family: 'open_sanslight';
        font-size: 30pt;
        font-weight: normal;
        border-bottom: 1px solid #e4e4e4;
        line-height: 1.2em;
    }

    .content {
        position: relative;
        .excerpt {
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            padding: 25px;
            display: block;
            float: right;
            width: 550px;
            font-size: 24pt;
            line-height: 1.2em;
            margin: 0 20px 20px 20px;
        }
    }
}


#class_texts {
    .class_title {
        background-color: #f7f7f7;
        padding: 40px 200px 20px 200px;
        border-bottom: 1px solid #dcdcdc;

        .title_number {
            font-size: 16pt;
        }
        .title_text {
            font-size: 20pt;
        }
    }

    .class_content {
        padding: 30px 200px;
   }

    .download_button {
        background: url('/images/down_azul.png') no-repeat;
        width: 469px;
        height: 56px;
        padding: 20px 30px;
        a, a:hover {
            font-size: 10pt;
            font-weight: bold;
            color: white;
        }
    }

    .download_button:hover {
        background: url('/images/down_azul_over.png') no-repeat;
    }
}
