@import "utilities";

#treemap-table {
  margin: auto;
  background: #1d3365;
  padding: 0 200px 100px 200px;

  h3 {
      font-family: "DejaVu Sans ExtraLight";
      font-size: 34pt;
      color: #d5d5df;
      width: 140px;
      float: left;
      margin-top: 0;
      padding-left: 0;
  }

  h3:after {
    border-bottom: 1px solid #112645;
    width: 100px;
    padding-top: 30px;
    content: "  ";
    display: block;
  }

  .table_units {
       padding-top: 30px;
       font-style: italic;
       float: left;
       color: #647aa1;
  }
}

#treemap-header {
  padding-top: 60px;
  margin: auto;

  img {
    float: left;
    padding-top: 22px;
    margin-right: 10px;
  }
}

.dataTable {
  color: #fff;
  margin: auto;
  //border-collapse: collapse;
  border-spacing: 0 0;
  th {
      background-color: #12254d;
      border: 1px solid  #1d3365;
  }
  th.sorting_asc, th.sorting_desc {
      background-color: #0f1f41;
  }
  td {
    padding: .35em .5em;
  }
  th.currency,
  th.percentual,
  td.percentual {
    white-space: nowrap;
    text-align: center;
  }
  td.currency {
    text-align: right;
    letter-spacing: 1px;
  }
  .sorting_1 {
//    background: $silver;
  }
  .cut {
    color: #fff;
    width: 100%;
  }
  .cut a, a:hover, a:visited, a:visited:hover {
    color: #fff;
  }
  .dataTables_empty {
    font-size: 1.25em;
    color: $gray;
    font-family: 'texgyreherositalic', arial, sans-serif;
    font-style: italic;
  }
  tr:hover td {
    background: lighten(#1d3365, 5%);
  }
  tr:hover td.dataTables_empty {
    background: white;
  }
  th {
    padding: 5px 20px;
    outline: none;
  }
  .sorting,
  .sorting_desc,
  .sorting_asc {
    cursor: pointer;
  }
  .sorting,
  .sorting_desc,
  .sorting_asc {
    i {
      display: inline;
    }
  }
  .sorting {
    i {
      &.desc,
      &.asc {
        display: none;
      }
    }
  }
  .sorting_desc {
    i {
      &.not-sorted,
      &.asc {
        display: none;
      }
    }
  }
  .sorting_asc {
    i {
      &.not-sorted,
      &.desc {
        display: none;
      }
    }
  }
  tr.even td {
    background-color: #1a305f;
  }

  tr.even:hover td {
     background: lighten(#1d3365, 5%);
  }


  thead tr th:first-child {
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius:  12px 0 0 12px;
    border-radius:  12px 0 0 12px;
  }

  thead tr th:last-child {
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
  }

  tr.even td:first-child {
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius:  12px 0 0 12px;
    border-radius:  12px 0 0 12px;
  }

  tr.even td:last-child {
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
  }
}

.dataTables_wrapper {
  border-radius: 2px;
  position: relative;
  padding: .25em 0;
  font-size: .75em;
}

.dataTables_filter {
  position: relative;
//  top: .5em;
//  left: .5em;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 30px;
  float: right;

  label {
      position: relative;
  }

  .icon-search {
    position: absolute;
    top: 0;
    left: .45em;
    font-size: 1.5em;
    color: white;
  }
  input[type='text'] {
    color: white;
    font-size: 1.25em;
    background: #12254d;
    border: 0;
    border-radius: 2em;
    padding: .25em 1em .25em 2em;
    -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    width: 230px;
    &:focus,
    &.focused {
      border: 2px solid $silver;
      outline: none;
      border-color: $gray;
    }
  }
}
