@import "utilities";

#treemap-table {
  width: 100%;
  margin: auto;
  background: #1d3365;
  padding-bottom: 100px;

  h3 {
      border-bottom: 1px solid #112645;
      font-family: "DejaVu Sans ExtraLight";
      font-size: 1.7em;
      color: #d5d5df;
  }
}

#treemap-header {
  width: 960px;
  padding-top: 20px;
  margin: auto;
}

.dataTable {
  color: #fff;
  margin: auto;
  width: 960px;
  border-collapse: collapse;
  border-spacing: 0 0;
  th {
      background-color: #12254d;
      border: 1px solid  #1d3365;
  }
  th.sorting_asc, th.sorting_desc {
      background-color: #0f1f41;
  }
  td {
    padding: .25em .5em;
  }
  th.currency,
  th.percentual,
  td.percentual {
    white-space: nowrap;
    text-align: center;
  }
  td.currency {
    text-align: right;
    letter-spacing: 1px;
  }
  .sorting_1 {
//    background: $silver;
  }
  .cut {
    color: #fff;
    width: 100%;
  }
  .cut a, a:hover, a:visited, a:visited:hover {
    color: #fff;
  }
  .dataTables_empty {
    font-size: 1.25em;
    color: $gray;
    font-family: 'texgyreherositalic', arial, sans-serif;
    font-style: italic;
  }
  tr:hover td {
    background: lighten(#1d3365, 5%);
  }
  tr:hover td.dataTables_empty {
    background: white;
  }
  th {
    outline: none;
  }
  .sorting,
  .sorting_desc,
  .sorting_asc {
    cursor: pointer;
  }
  .sorting,
  .sorting_desc,
  .sorting_asc {
    i {
      display: inline;
    }
  }
  .sorting {
    i {
      &.desc,
      &.asc {
        display: none;
      }
    }
  }
  .sorting_desc {
    i {
      &.not-sorted,
      &.asc {
        display: none;
      }
    }
  }
  .sorting_asc {
    i {
      &.not-sorted,
      &.desc {
        display: none;
      }
    }
  }
}

.dataTables_wrapper {
  border-radius: 2px;
  position: relative;
  padding: .25em 0;
  font-size: .75em;
}

.dataTables_filter {
  position: relative;
//  top: .5em;
//  left: .5em;
  width: 960px;
  margin: auto;
  padding-bottom: 30px;

  .icon-search {
    position: absolute;
    top: .3em;
    left: .45em;
    font-size: 1.5em;
    color: white;
  }
  input[type='text'] {
    color: white;
    font-size: 1.25em;
    background: #12254d;
    border: 0;
    border-radius: 2em;
    padding: .25em 1em .25em 2em;
    -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    width: 230px;
    &:focus,
    &.focused {
      border: 2px solid $silver;
      outline: none;
      border-color: $gray;
    }
  }
}
