@import "utilities";
@import "treemap";
@import "timeseries";
@import "datagrid";

body {
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 16px;
  font-family: 'open_sanslight';
  line-height: 1.1875em;
  background-color: #ebebeb;

  h1, h2, h3 {
      font-weight: normal;
      font-family: 'open_sanslight';
  }

  h3 {
      font-size: 30pt;
  }
}

#root {
    width: 1440px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#start-banner {
    height: 457px;
    background-color: #1c3364;
    background: url('/images/bg_brasilia.jpg') no-repeat;
    padding-left: 200px;
    padding-right: 200px;
}

#start-about {
    color: #f2c230;
    padding-top: 120px;
    margin: auto;
    line-height: 1.1em;
    font-family: "open_sanslight";
    font-size: 30pt;
    text-align: center;
}

#start-text {
    color: white;
    padding-top: 48px;
    width: 650px;
//    line-height: 1.1em;
    font-family: "open_sanslight";
    font-size: 14pt;
//    text-align: justify;
}

#start-content {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 72px;
    h1 {
        color: #2f2f2f;
        font-family: "open_sanslight";
        font-size: 30pt;
        font-weight: normal;
        padding-bottom: 30px;
        margin-bottom: 72px;
        border-bottom: 1px solid #e4e4e4;
    }

    .first_row_box {
        float:left;
        font-family: "open_sanslight";
        &.left {
            width: 400px;
            font-size: 14pt;
            color: #626262;
//            text-align: justify;
        }

        &.right {
            margin-left: 50px;
            width: 580px;
            font-size: 24pt;
            line-height: 1.2em;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            padding: 20px 0;
            text-align: center;
        }
    }
}

#start-boxes {
    background-color: #f7f7f7;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 55px;
    padding-bottom: 55px;
    .box {
        width: 310px;
        float: left;
        margin-right: 25px;
        background-color: white;
//        padding: 25px;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);

        .box_title {
            font-size: 14pt;
            color: #3078c0;
        }

        .box_underline_text {
            line-height: 1.2em;
            position: relative;
            font-style: italic;
            font-size: 15pt;
            .left {
                width: 120px;
                left: 25px;
                position: absolute;
            }
            .right {
                left: 148px;
                position: absolute;
            }

        }

        .box_text {
            padding: 77px 25px 25px 25px;
//            text-align: justify;
        }

        .bold {
            color: black;
            font-weight: bold;
            font-style: italic;
        }

    }
    .box_header {
        height: 40px;
        padding: 25px 25px 45px 25px;
    //    border-bottom: 1px solid #e4e4e4;
    }
    img {
    vertical-align: top; 
    }

}

#header-menu {
   float: right;
   color: white;
   ul {
         list-style-type:none;
         li {
            display: inline;
            padding-left: 10px;
            a, a:hover, a:visited, a:visited:hover {
                font-family: 'open_sanslight';
                color: white;
                &.selected {
                    color: #f2c230;
                }
            }
         }
    }
}

a, a:visited{
  color: $link;
  text-decoration: none;
  &:hover {
    color: lighten($link, 10%);
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
}

h3 {
  font-family: 'open_sanslight';
//  text-transform: uppercase;
  color: $gray;
  font-size: 1.7em;
  padding: .625em .3125em
}

.container {
 // width: 960px;
 //padding-top: 44px;
  margin: 0 auto;
 // padding: 2em 0;
}

#menu-top {
    padding-top: 5px;
    height: 30px;
    margin: auto;
    background-color: #f0f0f0;
}

#menu-top-content {
    margin: auto;
    padding-top: 4px;
    padding-left: 200px;
    padding-right: 200px;
    img {
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    font-size: 10px;
}

header.header {
  padding-top: 30px;
  height: 60px;
  background-color: #1d3365;
  .container {
    overflow: hidden;
    margin: auto;
    background-color: #1d3365;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
  }
  .logo {
    display: block;
    float: left;
    height: 31px;
    width: 241px;
    background: url(/images/vitral-logo.png) no-repeat scroll left top;
    background-size: cover;
    text-indent: -9999em;
  }
  .social-buttons {
    float: right;
    ul {
      padding-top: 3.35em;
    }
  }
}


footer.footer {
  background-color: #231f20;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2em;
  .partners {
      background-color: #fff;
      padding-bottom: 50px;
  }
  .partners-text {
      padding: 0 200px;
      margin: auto;
  }
  .partners-buttons {
    height: 140px;
    text-align: center;
    background-color: #f7f7f7;
  }
  .partner-button {
    width: 260px;
   // border: 1px solid $silver;
   // border-radius: 4px;
    background-color: #f7f7f7;
    position: relative;
    display: inline-block;
    &:hover {
      border-color: $link;
    }
    .image {
      width: 200px;
      height: 110px;
      display: block;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      &.okfn-logo {
        background-image: url(/images/parceiro_okfn.png);
      }
      &.openspending-logo {
        background-image: url(/images/parceiro_openspending.png);
      }
      &.fgvdapp-logo {
        background-image: url(/images/parceiro_dapp.png);
      }
    }
  }
  .colophon {
    margin-top: 4em;
    padding-top: 2em;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    margin: auto;
  }
  .fgv-logo {
    margin-top: 1em;
    display: block;
    float: left;
    width: 155px;
    height: 31px;
    text-indent: -9999em;
    background-size: contain;
    background-image: url(/images/logo_fgv.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }
  .license {
    margin-top: 1em;
    float: left;
    margin-left: 2em;
    font-style: normal;
    font-size: .8125em;
    color: #fff;
    p {
      margin-top: 0;
    }
    a, a:hover, a:visited, a:visited:hover {
      color: white;
    }
  }
  .footer-social {
    //display: none; /* WAITING FOR LINK DEFINITIONS */
    float: left;
    margin-top: 1em;
    padding-left: 50px;
    a {
      margin-right: 10px;
      height: 34px;
      width: 34px;
      display: inline-block;
      background-repeat: no-repeat;
      cursor: pointer;
      text-decoration: none;
//      border-radius: 3em;
      text-align: center;
      line-height: 1.875em;
      color: white;
//      background-color: $gray;
      text-indent: -999em;
      &:hover {
//        background-color: $link;
        opacity: 0.7;
        text-decoration: none;
      }

      &.facebook {
        background-image: url('/images/logo_fb.png');
      }
      &.twitter {
        background-image: url('/images/logo_twitter.png');
      }
       &.pgoogle {
        background-image: url('/images/logo_google.png');
      }
    }
  }
}

.loading {
  * {
    opacity: .75;
  }
  .spinner {
    opacity: 1 !important;
  }
}
