@import "utilities";
@import "treemap";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: $black;
  font-size: .8125em;
  line-height: 1.1875em;
}

#root {
  background: white;
}

a, a:visited{
  color: $link;
  text-decoration: none;
  &:hover {
    color: lighten($link, 10%);
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 2em 0;
}

.showcase {
  color: white;
  background: $fgv;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 2em;
  overflow: hidden;
  .container {
    max-width: 500px;
    position: relative;
  }
  .entypo.blown-out {
    position: absolute;
    color: lighten($fgv, 4%);
    font-size: 100em;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 2;
  }
}

header.header {
  padding: 0 0 2em;
  .logo {
    float: left;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }
  .menu {
    float: right;
    a {
      margin: 0 0 0 1em;
      &:hover {
        text-decoration: none;
      }
      &.current {
        color: $black;
        pointer-events: none;
      }
    }
    i {
      vertical-align: middle;
    }
  }
}

footer.footer {
  img {
    max-width: 140px;
    max-height: 90px;
    display: block;
  }
}

.loading {
  * {
    opacity: .75;
  }
  .spinner {
    opacity: 1 !important;
  }
}
