@import "utilities";

#time-series-graph-container {
    width: 100%;
    background-color: white;

    h3 {
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 200px;
    }
}

.time-series-graph {
    background: url('/images/bg_flat.jpg') no-repeat;
    margin: auto;
    padding-bottom: 12px;
}

.nv-points-path {
    path {
        fill: rgb(102, 69, 140);
    }
}

#svg_graph {
    margin: auto;
    width: 960px;
}

#abrev_legend {
    padding-left: 250px;
}

.nv-y2 {
    display: none;
}

.nvtooltip {
}

.nv-x.nv-axis {
    fill: rgb(110, 110, 110);
    .tick {
        line {
            display: none;
        }
    }
}

.nv-y1.nv-axis {
    fill: rgb(110, 110, 110);
    .nvd3.nv-wrap.nv-axis {
        path.domain {
            stroke: white;
        }
    }
}

.nv-bar {
    fill-opacity: 1 !important;
}

#exec-label {
    background-color: #e8e8e8;
    float: left;
    width: 180px;
    font-weight: bold;
    padding: 20px;
    height: 50px;
}

#reference-year {
    padding-left: 200px;
    font-style: italic;
}

#exec-desc {
    padding: 10px;
    padding-left: 30px;
    color: #888888;
    font-style: italic;
    clear: both;
}

#level-labels {
    background-color: #f7f7f7;
    float: left;
    width: 780px;
    padding: 20px 20px;
    height: 50px;
}

.percentual-bars {
  height: 190px;
  margin: auto;
  margin-bottom: 4em;
  .horizon {
    position: relative;
    height: 0;
    top: 95px;
    border-top: 1px solid $silver;
    width: 100%;
  }
  .meter {
    &.reference {
      display: none;
    }
    display: inline-block;
    width: 4.5em;
    margin-right: 1em;
    label {
      position: absolute;
      display: block;
      height: 95px;
      cursor: pointer;
    }
    .meter-bar,
    .meter-label {
      opacity: .7;
    }
    input[type='radio']:checked + label,
    label:hover {
      .meter-bar,
      .meter-label {
        opacity: 1;
      }
    }
    input[type='radio'] {
      visibility: hidden;
    }
    .meter-bar {
      width: 4.5em;
    }
    span {
      display: block;
    }
    .meter-bar,
    .meter-year,
    .meter-percentual {
      position: absolute;
      font-size: 1em;
      width: 4.5em;
      text-align: center;
    }
    .meter-percentual {
      line-height: 1;
    }
    &.positive {
      label {
        bottom: 1px;
      }
      .meter-bar {
        background: $fgv;
        position: absolute;
        bottom: 0;
      }
      .meter-year {
        top: 215px;
      }
      .meter-percentual {
        top: 195px;
      }
    }
    &.negative,
    &.reference {
      label {
        top: 0;
      }
      .meter-bar {
        background: $fgv;
      }
      .meter-percentual {
        top: 100px;
      }
      .meter-year {
        top: 120px;
      }
    }
  }
}
