$fgv: rgb(28, 47, 103);

.treemap-container {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;

  .treemap-widget {
    width: 100%;
    height: 500px;
    border: 0 none;
    display: block;
    z-index: 1;
  }
  .back-button {
    position: absolute;
    top: -2.5em;
    right: 0;
    background: $fgv;
    color: white;
    display: none;
    border: none;
    border-radius: 3px;
    padding: .25em 1em;
    &.visible {
      display: inline-block;
    }
    &:hover {
      background: lighten($fgv, 5%);
      color: white;
    }
  }
  .treemap-widget .desc .lbl,
  .treemap-widget .desc .amount {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  .treemap-widget .desc .amount {
    font-size: 1.5em;
  }
  .treemap-widget .desc .lbl {
    opacity: .85;
  }
  .node {
    &:hover {
      background: lighten($fgv, 10%);
      border: 0 none;
      box-shadow: none;
    }
  }
}
#_tooltip {
  border: 1px solid $fgv;
  background-color: white !important;
  color: $fgv !important;
  font-size: .75em;
}

.breadcrumb {
  font-size: .75em;
  h1 {
    display: inline;
    font-size: 1em;
    line-height: inherit;
  }
}
.up-tree {
  float: right;
}
