@import "utilities";

.treemap-container {
  position: relative;
  display: block;
  width: 100%;
  height: 494px;
  .treemap-widget {
    width: 100%;
    height: 494px;
    border: 0 none;
    display: block;
    z-index: 1;
    font-size: 1em;
  }
  .treemap-widget .desc .lbl,
  .treemap-widget .desc .amount {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
  }
  .treemap-widget .desc .amount {
    letter-spacing: 1px;
  }
  .treemap-widget .desc .lbl {
    opacity: .85;
  }
  .node {
    &:hover {
      background: $link;
      border: 0 none;
      box-shadow: none;
    }
  }
}

#_tooltip {
  border: 1px solid $fgv;
  background-color: white !important;
  font-family: Arial, sans-serif;
  color: $fgv !important;
  font-size: 1em;
}

.breadcrumb {
  font-size: .75em;
  h1 {
    display: inline;
    font-size: 1em;
    line-height: inherit;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 0;
  th,
  td {
    padding: .25em .5em;
  }
  th.currency {
    text-align: center;
  }
  .currency {
    text-align: right;
    letter-spacing: 1px;
  }
  .cut {
    width: 100%;
  }
  tr:hover td {
    background: #F0F0F0;
  }
}


.percentual-bars {
  height: 190px;
  margin-bottom: 4em;
  .horizon {
    position: relative;
    height: 0;
    top: 95px;
    border-top: 1px solid silver;
    width: 100%;
  }
  .meter {
    display: inline-block;
    width: 4.5em;
    label {
      position: absolute;
      display: block;
      height: 95px;
    }
    input[type='radio']:checked + label,
    label:hover {
      .meter-bar,
      .meter-label {
        opacity: 1;
      }
    }
    input[type='radio'] {
      /*visibility: hidden;*/
    }
    .meter-bar {
      width: 4.5em;
    }
    span {
      display: block;
    }
    .meter-bar,
    .meter-year,
    .meter-percentual {
      position: absolute;
      font-size: 1em;
      width: 4.5em;
      text-align: center;
    }
    .meter-percentual {
      line-height: 1;
    }
    &.positive {
      label {
        bottom: 1px;
      }
      .meter-bar {
        background: forestgreen;
        position: absolute;
        bottom: 0;
      }
      .meter-year {
        top: 210px;
      }
      .meter-percentual {
        top: 190px;
      }
    }
    &.negative {
      label {
        top: 0;
      }
      .meter-bar {
        background: crimson;
      }
      .meter-percentual {
        top: 95px;
      }
      .meter-year {
        top: 115px;
      }
    }
  }
}
