@font-face {
  font-family: "Entypo";
  src: url("fonts/entypo.eot");
  src: local("☺"),
  url("fonts/entypo.woff") format("woff"),
  url("fonts/entypo.otf") format("opentype"),
  url("fonts/entypo.svg#entypo") format("svg");
}

i.entypo {
  font-style: normal;
  font-weight: normal;
  font-family: Entypo;
  font-size: 2em;
}


$fgv: rgb(28, 47, 103);
$blue: #1b3461;
$link: $blue;
$black: #363636;
$silver: #ebebeb;
$gray: #959595;


.button {
  a {
    padding: 1em;
    border: 2px solid $link;
    border-radius: 2px;
    color: $link;
    display: inline-block;
    &:hover {
      border-color: lighten($link, 10%);
      text-decoration: none;
    }
  }
}
