@font-face {
  font-family: "Entypo";
  src: url("fonts/entypo.eot");
  src: local("☺"),
    url("fonts/entypo.woff") format("woff"),
    url("fonts/entypo.otf") format("opentype"),
    url("fonts/entypo.svg#entypo") format("svg");
}

i.entypo {
  font-style: normal;
  font-weight: normal;
  font-family: Entypo;
  font-size: 2em;
}


$fgv: rgb(28, 47, 103);
$blue: #3384d1;
$link: $blue;
$gray: #879db6;
$black: #1c2a46;
$red: #b9464f;
$green: #35b784;
$orange: #d49944;
$silver: #b7c4db;

.button {
  a {
    padding: 1em;
    border: 2px solid $link;
    border-radius: 2px;
    color: $link;
    display: inline-block;
    &:hover {
      border-color: lighten($link, 10%);
      text-decoration: none;
    }
  }
}
