<div id="about_container">
    <div id="about_text" class="text">
    <h1>Sobre o Ciclo Orçamentário</h1>
    <img src="/images/ciclo-4-years.jpg">
    <div class="about_box">
    O ciclo orçamentário tem a duração de quatro anos e envolve a elaboração do Plano Plurianual (PPA),
    as Leis de Diretrizes Orçamentárias (LDO) e as Leis de Orçamento Anual (LOA). O ciclo tem inicio a
    cada primeiro ano de mandato do chefe do executivo quando é elaborado o PPA, que faz o planejamento
    estratégico para os quatro anos posteriores. A LDO indica as prioridades e as metas do orçamento
    anual considerando os cenários macroeconômico e fiscal. A partir das diretrizes descritas pela LDO,
    ocorre finalmente, a formulação e aprovação da LOA, que autoriza a quantidade de recursos destinados
    aos órgãos públicos em cada ano segundo as classificações pertinentes às despesas e detalhadas as
    fontes da receita.
    <br/>
    <b>Por meio destas três leis o orçamento é proposto, aprovado, executado e avaliado continuamente.</b>
    </div>
   </div>
    <img class="timeline" src="/images/timeline.png">
    <img src="/images/timeline_ciclo.png">
    <div id="about_explaining" class="text">
    <h2>Conceitos</h2>
    <div class="content">
    <div class="excerpt">
        O recurso para determinada conta pode ser ampliado por meio de <b><i>crédito suplementar</b></i>, <b><i>crédito especial</b></i> ou
        <b><i>por decreto de abertura de crédito extraordinário</b></i>. Desta forma, o <b><i>valor autorizado</b></i> pode variar ao longo do ano.
    </div>
    Definidos os valores destinados às rubricas, cabe aos órgãos responsáveis a execução do orçamento
    previsto. Nem sempre há execução total do valor orçado. Quando ocorre sobra de recursos, os valores
    ao final do exercício não acumulam para o ano seguinte, eles são estornados e devem ser redistribuídos
    segundo a LOA do ano seguinte.
    <p/>
    Se durante o exercício for necessário mais recursos, o orçamento público pode sofrer alterações.
    O recurso para determinada conta pode ser ampliado por meio de <b>crédito suplementar</b>, <b>crédito especial</b>
    ou <b>por decreto de abertura de crédito extraordinário</b>. Desta forma, o <b>valor autorizado</b> pode variar ao
    longo do ano.
    <p/>
    As despesas passam por algumas fases antes de serem efetivamente realizadas. A partir da dotação autorizada
    pela Lei Orçamentária Anual (LOA), os recursos destinados a determinado fim devem ser <b>empenhados</b>. Empenhar
    significa reservar aquele valor para cobrir o pagamento de algum bem ou serviço compatível aos fins
    estabelecidos pela rubrica na qual se inclui. Apenas depois que o serviço ou bem foi concluído ou entregue,
    o valor é <b>liquidado</b>. O <b>pagamento</b> daquela despesa é então realizado, fase em que a administração pública quita
    seu débito com o credor.
    <p/>
    Como esclarecido acima, recursos não pagos em um período não acumulam para o ano seguinte. No entanto, se
    houverem valores já empenhados, isto é, comprometidos a algum pagamento, porém ainda não liquidados (restos
    a pagar não processados) ou pagos (restos a pagar processados) até a data de 31 de dezembro, os valores são
    mantidos e inscritos em <b>Restos a Pagar</b>, de forma a levar o recurso para o exercício posterior.
   </div>
   <h2>Classificações</h2>
   O orçamento anual é classificado segundo quatro lógicas distintas:
</div>
   <div id="class_texts">
        <div class="class_title button">
            <span class="title_number">01. </span><span class="title_text">Institucional</span><img class="plus-icon" src="/images/plus_icon.png"><img class="minus-icon" style="display: none;" src="/images/minus_icon.png">

        </div>
        <div style="display: none;">
        <div class="class_content">
            Evidencia as unidades administrativas responsáveis pela execução da despesa, Indispensável
            fixação de responsabilidades e os consequentes controles e avaliações.
            <p/>
            (Órgão – Unidade Orçamentária) exemplo: (Ministério da Educação – UFRJ)
            <p/>
            <!-- <div class="download_button">
            <a href="http://www2.camara.leg.br/atividade-legislativa/orcamentobrasil/ppa/ppa2004_7.html/autografoplenario/05_anexoiii_orgaos_Respons_por_programa.pdf">ESTRUTURA DE CLASSIFICAÇÃO INSTITUCIONAL (.PDF)</a>
            </div> -->
            </div>
            <div class="about-table">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>CÓDIGO</th>
                    <th>ÓRGÃO/UNIDADE ORÇAMENTÁRIA</th>
                </thead>
                <tbody>
                    <tr>
                        <td>20114</td>
                        <td>ADVOCACIA GERAL DA UNIÃO</td>
                    </tr>
                    <tr>
                        <td>0580</td>
                        <td>DEFESA JURÍDICA DA UNIÃO</td>
                    </tr>
                    <tr><td>20118 </td><td>AGÊNCIA BRASILEIRA DE INTELIGÊNCIA</td></tr>
                    <tr><td>0641 </td><td>INTELIGÊNCIA FEDERAL</td></tr>
                    <tr><td>92000 </td><td>ATIVIDADES PADRONIZADAS</td></tr>
                    <tr><td>0750 </td><td>APOIO ADMINISTRATIVO</td></tr>
                    <tr><td>0807 </td><td>INVESTIMENTO DAS EMPRESAS ESTATAIS EM INFRA-ESTRUTURA DE APOIO</td></tr>
                    <tr><td>01000 </td><td>CÂMARA DOS DEPUTADOS</td></tr>
                    <tr><td>0553 </td><td>ATUAÇÃO LEGISLATIVA DA CÂMARA DOS DEPUTADOS</td></tr>
                    <tr><td>20125 </td><td>CONTROLADORIA-GERAL DA UNIÃO</td></tr>
                    <tr><td>1173 </td><td>AVALIAÇÃO DA GESTÃO DOS ADMINISTRADORES DE RECURSOS PÚBLICOS FEDERAIS</td></tr>
                    <tr><td>1178 </td><td>CORREIÇÃO NO PODER EXECUTIVO FEDERAL</td></tr>
                    <tr><td>20101 </td><td>GABINETE DA PRESIDÊNCIA DA REPÚBLICA</td></tr>
                    <tr><td>1109 </td><td>CERTIFICAÇÃO DIGITAL</td></tr>
                    <tr><td>1030 </td><td>DEMOCRATIZAÇÃO DO ACESSO À INFORMAÇÃO ARQUIVÍSTICA GOVERNAMENTAL</td></tr>
                    <tr><td>1032 </td><td>DEMOCRATIZAÇÃO DO ACESSO À INFORMAÇÃO JORNALÍSTICA, EDUCACIONAL E CULTURAL</td></tr>
                    <tr><td>0753 </td><td>DIVULGAÇÃO DOS ATOS OFICIAIS E PRODUÇÃO GRÁFICA</td></tr>
                    <tr><td>0752 </td><td>GESTÃO DA POLÍTICA DE COMUNICAÇÃO DE GOVERNO</td></tr>
                    <tr><td>1152 </td><td>GESTÃO DA POLÍTICA DE PROMOÇÃO DA IGUALDADE RACIAL</td></tr>
                    <tr><td>1004 </td><td>GESTÃO DAS POLÍTICAS DE GOVERNO</td></tr>
                    <tr><td>0496 </td><td>INFORMAÇÕES INTEGRADAS PARA PROTEÇÃO DA AMAZÔNIA</td></tr>
                    <tr><td>0665 </td><td>NACIONAL DE REDUÇÃO DA DEMANDA E DA OFERTA DE DROGAS</td></tr>
                    <tr><td>1143 </td><td>PROMOÇÃO DA ÉTICA PÚBLICA</td></tr>
                    <tr><td>1101 </td><td>VER CINEMA, SER BRASIL</td></tr>
                    <tr><td>20123 </td><td>GABINETE DO MINISTRO DE ESTADO EXTRAORDINÁRIO DE SEGURANÇA ALIMENTAR E COMBATE À FOME</td></tr>
                    <tr><td>1049 </td><td>ACESSO À ALIMENTAÇÃO</td></tr>
                    <tr><td>1051 </td><td>BANCO DE ALIMENTOS</td></tr>
                    <tr><td>1048 </td><td>EDUCAÇÃO PARA ALIMENTAÇÃO SAUDÁVEL</td></tr>
                    <tr><td>1006 </td><td>GESTÃO DA POLÍTICA DE SEGURANÇA ALIMENTAR E NUTRICIONAL</td></tr>
                    <tr><td>1011 </td><td>REDE SOLIDÁRIA DE RESTAURANTES POPULARES</td></tr>
                    <tr><td>16000 </td><td>JUSTIÇA DO DISTRITO FEDERAL E DOS TERRITÓRIOS</td></tr>
                    <tr><td>0567 </td><td>PRESTAÇÃO JURISDICIONAL NO DISTRITO FEDERAL</td></tr>
                    <tr><td>15000 </td><td>JUSTIÇA DO TRABALHO</td></tr>
                    <tr><td>0571 </td><td>PRESTAÇÃO JURISDICIONAL TRABALHISTA</td></tr>
                    <tr><td>14000 </td><td>JUSTIÇA ELEITORAL</td></tr>
                    <tr><td>0570 </td><td>GESTÃO DO PROCESSO ELEITORAL</td></tr>
                    <tr><td>12000 </td><td>JUSTIÇA FEDERAL</td></tr>
                    <tr><td>0569 </td><td>PRESTAÇÃO JURISDICIONAL NA JUSTIÇA FEDERAL</td></tr>
                    <tr><td>13000 </td><td>JUSTIÇA MILITAR DA UNIÃO</td></tr>
                    <tr><td>0566 </td><td>PRESTAÇÃO JURISDICIONAL MILITAR</td></tr>
                    <tr><td>22000 </td><td>MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECIMENTO</td></tr>
                    <tr><td>0352 </td><td>ABASTECIMENTO AGROALIMENTAR</td></tr>
                    <tr><td>1225 </td><td>DESENVOLVIMENTO DA AGRICULTURA ORGÂNICA - PRÓ-ORGÂNICO</td></tr>
                    <tr><td>0371 </td><td>DESENVOLVIMENTO DA AVICULTURA</td></tr>
                    <tr><td>0359 </td><td>DESENVOLVIMENTO DA BOVIDEOCULTURA</td></tr>
                    <tr><td>0377 </td><td>DESENVOLVIMENTO DA CAPRINOCULTURA, DA EQÜIDEOCULTURA E DA OVINOCULTURA</td></tr>
                    <tr><td>0350 </td><td>DESENVOLVIMENTO DA ECONOMIA CAFEEIRA</td></tr>
                    <tr><td>0354 </td><td>DESENVOLVIMENTO DA FRUTICULTURA - PROFRUTA</td></tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="class_title button">
            <span class="title_number">02. </span><span class="title_text">Funcional</span><img class="plus-icon" src="/images/plus_icon.png"><img class="minus-icon" style="display: none;" src="/images/minus_icon.png">

        </div>
        <div style="display: none;">
        <div class="class_content">
            Fornece as bases para a apresentação de dados sobre os gastos públicos nos principais segmentos em que atuam
            as organizações do Estado.
        </div>

        <div class="about-table">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>CÓDIGO</th>
                    <th>FUNÇÃO E SUBFUNÇÃO</th>
                </thead>
                <tbody>

                    <tr><td>01 </td><td>Legislativa</td></tr>
                    <tr><td>031</td><td> Ação Legislativa</td></tr>
                    <tr><td>032</td><td> Controle Externo</td></tr>
                    
                    <tr><td>02</td><td> Judiciária </td></tr>
                    <tr><td>061</td><td> Ação Judiciária</td></tr>
                    <tr><td>062</td><td> Defesa do Interesse Público no Processo Judiciário</td></tr>
                    
                    <tr><td>03</td><td> Essencial à Justiça </td></tr>
                    <tr><td>091</td><td> Defesa da Ordem Jurídica</td></tr>
                    <tr><td>092</td><td> Representação Judicial e Extrajudicial</td></tr>
                    
                    <tr><td>04</td><td> Administração </td></tr>
                    <tr><td>121</td><td> Planejamento e Orçamento</td></tr>
                    <tr><td>119</td><td> Administração Geral</td></tr>
                    <tr><td>120</td><td> Controle Interno</td></tr>
                    <tr><td>121</td><td> Normalização e Fiscalização</td></tr>
                    <tr><td>122</td><td> Tecnologia da Informação</td></tr>
                    <tr><td>123</td><td> Ordenamento Territorial</td></tr>
                    <tr><td>124</td><td> Formação de Recursos Humanos</td></tr>
                    <tr><td>125</td><td> Administração de Receitas</td></tr>
                    <tr><td>126</td><td> Administração de Concessões</td></tr>
                    <tr><td>127</td><td> Comunicação Social</td></tr>
                    
                    <tr><td>05</td><td> Defesa Nacional</td></tr>
                    <tr><td>51</td><td>Defesa Aérea</td></tr>
                    <tr><td>152</td><td> Defesa Naval</td></tr>
                    <tr><td>153</td><td> Defesa Terrestre</td></tr>
                    
                    <tr><td>06</td><td> Segurança Pública </td></tr>
                    <tr><td>181</td><td> Policiamento</td></tr>
                    <tr><td>182</td><td> Defesa Civil</td></tr>
                    <tr><td>183</td><td> Informação e Inteligência</td></tr>
                    <tr><td>07</td><td> Relações Exteriores 211 – Relações Diplomáticas</td></tr>
                    <tr><td>212</td><td> Cooperação Internacional</td></tr>
                    
                    <tr><td>08</td><td> Assistência Social </td></tr>
                    <tr><td>241</td><td> Assistência ao Idoso</td></tr>
                    <tr><td>242</td><td> Assistência ao Portador de Deficiência</td></tr>
                    <tr><td>243</td><td> Assistência à Criança e ao Adolescente</td></tr>
                    <tr><td>244</td><td> Assistência Comunitária</td></tr>
                    
                    <tr><td>09</td><td> Previdência Social</td></tr>
                    <tr><td>71</td><td> Previdência Básica</td></tr>
                    <tr><td>272</td><td> Previdência do Regime Estatutário</td></tr>
                    <tr><td>273</td><td> Previdência Complementar</td></tr>
                    <tr><td>274</td><td> Previdência Especial</td></tr>
                    
                    <tr><td>10</td><td> Saúde </td></tr>
                    <tr><td>301</td><td> Atenção Básica</td></tr>
                    <tr><td>302</td><td> Assistência Hospitalar e Ambulatorial</td></tr>
                    <tr><td>303</td><td> Suporte Profilático e Terapêutico</td></tr>
                    <tr><td>304</td><td> Vigilância Sanitária</td></tr>
                    <tr><td>305</td><td> Vigilância Epidemiológica</td></tr>
                    <tr><td>306</td><td> Alimentação e Nutrição</td></tr>
                    
                    <tr><td>11</td><td> Trabalho </td></tr>
                    <tr><td>331</td><td> Proteção e Benefícios ao Trabalhador</td></tr>
                    <tr><td>332</td><td> Relações de Trabalho</td></tr>
                    <tr><td>333</td><td> Empregabilidade</td></tr>
                    <tr><td>334</td><td> Fomento ao Trabalho</td></tr>
                    
                    <tr><td>12</td><td> Educação </td></tr>
                    <tr><td>361</td><td> Ensino Fundamental</td></tr>
                    <tr><td>362</td><td> Ensino Médio</td></tr>
                    <tr><td>363</td><td> Ensino Profissional</td></tr>
                    <tr><td>364</td><td> Ensino Superior</td></tr>
                    <tr><td>365</td><td> Educação Infantil</td></tr>
                    <tr><td>366</td><td> Educação de Jovens e Adultos</td></tr>
                    <tr><td>367</td><td> Educação Especial</td></tr>
                    
                    <tr><td>13</td><td> Cultura </td></tr>
                    <tr><td>391</td><td> Patrimônio Histórico, Artístico e Arqueológico</td></tr>
                    <tr><td>392</td><td> Difusão Cultural</td></tr>
                    
                    <tr><td>14</td><td> Direitos da Cidadania </td></tr>
                    <tr><td>421</td><td> Custódia e Reintegração Social</td></tr>
                    <tr><td>422</td><td> Direitos Individuais, Coletivos e Difusos</td></tr>
                    <tr><td>423</td><td> Assistência aos Povos Indígenas</td></tr>
                    
                    <tr><td>15</td><td> Urbanismo </td></tr>
                    <tr><td>451</td><td> Infra-Estrutura Urbana</td></tr>
                    <tr><td>452</td><td> Serviços Urbanos</td></tr>
                    <tr><td>453</td><td> Transportes Coletivos Urbanos</td></tr>
                    
                    <tr><td>16</td><td> Habitação</td></tr>
                    <tr><td>81</td><td> Habitação Rural</td></tr>
                    <tr><td>482</td><td> Habitação Urbana</td></tr>
                    
                    <tr><td>17</td><td> Saneamento </td></tr>
                    <tr><td>511</td><td> Saneamento Básico Rural</td></tr>
                    <tr><td>512</td><td> Saneamento Básico Urbano – Gestão Ambiental</td></tr>
                    
                    <tr><td>18</td><td> Preservação  Ambiental </td></tr>
                    <tr><td>541</td><td> Preservação e Conservação Ambiental</td></tr>
                    <tr><td>542</td><td> Controle Ambiental</td></tr>
                    <tr><td>543</td><td> Recuperação de Áreas Degradadas</td></tr>
                    <tr><td>544</td><td> Recursos Hídricos</td></tr>
                    <tr><td>545</td><td> Meteorologia</td></tr>
                    
                    <tr><td>19</td><td> Ciência e Tecnologia</td></tr>
                    <tr><td>71</td><td> Desenvolvimento Científico</td></tr>
                    <tr><td>572</td><td> Desenvolvimento Tecnológico e Engenharia</td></tr>
                    <tr><td>573</td><td> Difusão do Conhecimento Científico e Tecnológico</td></tr>
                    
                    <tr><td>20</td><td> Agricultura </td></tr>
                    <tr><td>601</td><td> Promoção da Produção Vegetal</td></tr>
                    <tr><td>602</td><td> Promoção da Produção Animal</td></tr>
                    <tr><td>603</td><td> Defesa Sanitária Vegetal</td></tr>
                    <tr><td>604</td><td> Defesa Sanitária Animal</td></tr>
                    <tr><td>605</td><td> Abastecimento</td></tr>
                    <tr><td>606</td><td> Extensão Rural</td></tr>
                    <tr><td>607</td><td> Irrigação</td></tr>
                    
                    <tr><td>21</td><td> Organização Agrária </td></tr>
                    <tr><td>631</td><td> Reforma Agrária</td></tr>
                    <tr><td>632</td><td> Colonização</td></tr>
                    
                    <tr><td>22</td><td> Indústria </td></tr>
                    <tr><td>661</td><td> Promoção Industrial</td></tr>
                    <tr><td>662</td><td> Produção Industrial</td></tr>
                    <tr><td>663</td><td> Mineração</td></tr>
                    <tr><td>664</td><td> Propriedade Industrial</td></tr>
                    <tr><td>665</td><td> Normalização e Qualidade</td></tr>
                    
                    <tr><td>23</td><td> Comércio e Serviços </td></tr>
                    <tr><td>691</td><td> Promoção Comercial</td></tr>
                    <tr><td>692</td><td> Comercialização</td></tr>
                    <tr><td>693</td><td> Comércio Exterior</td></tr>
                    <tr><td>694</td><td> Serviços Financeiros</td></tr>
                    <tr><td>695</td><td> Turismo</td></tr>
                    
                    <tr><td>24</td><td> Comunicações </td></tr>
                    <tr><td>721</td><td> Comunicações Postais</td></tr>
                    <tr><td>722</td><td> Telecomunicações</td></tr>
                    
                    <tr><td>25</td><td> Energia </td></tr>
                    <tr><td>751</td><td> Conservação de Energia</td></tr>
                    <tr><td>752</td><td> Energia Elétrica</td></tr>
                    <tr><td>753</td><td> Petróleo</td></tr>
                    <tr><td>754</td><td> Álcool</td></tr>
                    
                    <tr><td>26</td><td> Transporte </td></tr>
                    <tr><td>781</td><td> Transporte Aéreo</td></tr>
                    <tr><td>782</td><td> Transporte Rodoviário</td></tr>
                    <tr><td>783</td><td> Transporte Ferroviário</td></tr>
                    <tr><td>784</td><td> Transporte Hidroviário</td></tr>
                    <tr><td>785</td><td> Transportes Especiais</td></tr>
                    
                    <tr><td>27</td><td> Desporto e Lazer </td></tr>
                    <tr><td>811</td><td> Desporto de Rendimento</td></tr>
                    <tr><td>812</td><td> Desporto Comunitário</td></tr>
                    <tr><td>813</td><td> Lazer</td></tr>
                    
                    <tr><td>28</td><td> Encargos Especiais </td></tr>
                    <tr><td>841</td><td> Refinanciamento da Dívida Interna</td></tr>
                    <tr><td>842</td><td> Refinanciamento da Dívida Externa</td></tr>
                    <tr><td>843</td><td> Serviço da Dívida Interna</td></tr>
                    <tr><td>844</td><td> Serviço da Dívida Externa</td></tr>
                    <tr><td>845</td><td> Transferências</td></tr>
                    <tr><td>846</td><td> Outros Encargos Especiais</td></tr>
                </tbody>
            </table>
        </div>
        </div>
         <div class="class_title">
            <span class="title_number">03. </span><span class="title_text">Programática</span>
        </div>
        <div class="class_content">
            Especifica os gastos até o nível de programa. Sua finalidade é demonstrar as realizações do governo.
        </div>
        <div class="class_title">
            <span class="title_number">04. </span><span class="title_text">Segundo a natureza de despesa</span>
        </div>
        <div class="class_content">
            Dá indicações mais detalhadas sobre a destinação da despesa e como ela será aplicada.
        </div>

    </div>
    <script>
    $('.table').dataTable({"bFilter": false,"bInfo": false,  "bPaginate": false});
    $('.class_title.button').click(function () {
        $('.plus-icon', this).toggle();
        $('.minus-icon', this).toggle();
        $(this).next().slideToggle();
    });
    </script>
