<div async-content class="container">
  <percentual-change-bars></percentual-change-bars>
  <years
    cuts="cuts"
    year="year"
    years="years"
  ></years>
  <breadcrumb></breadcrumb>
  <treemap
    class="treemap-container"
    click="treemapOnClick"
    cuts="cuts"
    drilldown="currentDrilldown"
    lastDrilldown="elemento_despesa"
  ></treemap>
  <download-button
    cuts="cuts"
    drilldowns="funcao|subfuncao|orgao|uo|mod_aplic|elemento_despesa"
    measures="amount|pago|rppago"
    class="button download-button">
    <i class="icon-download icon-large"></i>
    Download Contextual Data
    </download-button>
  <treemap-table
    cuts="cuts"
    drilldown="currentDrilldown"
    measures="amount|pago|rppago"
  ></treemap-table>
</div>
